#slider-wrap{ /* Оболочка слайдера и кнопок */
	width:100%;	 
	}
#slider{ /* Оболочка слайдера */
	width:100%;
	height:1024px;
	overflow: hidden;
	position:relative;}
.slide{ /* Слайд */
	width:100%;
	height:100%;
	background: url(../img/slide1.jpg) center top;
	}
.sli-links{ /* Кнопки смены слайдов */
	position: relative;
	margin-top:-80px;
	text-align:center;
}
.sli-links .control-slide{
	margin:5px;
	display:inline-block;
	width:11px;
	height:11px;
	overflow:hidden;
	text-indent:-9999px;
	border-radius: 50%;
	/*background:url(../img/radioBg.png) center bottom no-repeat;*/
	background:#959597;
}
.sli-links .control-slide:hover{
	cursor:pointer;
	}
.sli-links .control-slide.active{
	background:transparent;
	border: #d3c1ad solid 2px;
	position: relative;
	top:2px;
	}
#prewbutton, #nextbutton{ 
	display:block;
	width:15px;
	height:100%;
	position:absolute;
	top:0;
	overflow:hidden;
	text-indent:-999px;
	background:url(../img/arrowBg.png) left center no-repeat;
	opacity:0.8;
	z-index:3;
	outline:none !important;}
#prewbutton{left:20px;}
#nextbutton{
	right:20px;
	background:url(../img/arrowBg.png) right center no-repeat;}
#prewbutton:hover, #nextbutton:hover{
	opacity:1;}




/*
	-----------------------------------------------------*/

	